* {
  box-sizing: border-box;
}

:root {
  --main-border: solid rgba(217, 13, 13, 0);
  --main-border2: solid rgba(33, 212, 108, 0);
}

body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.88),
      rgba(255, 255, 255, 0.88)
    ),
    url('DSC_1279.JPG') center / cover no-repeat fixed;
    padding: 40px 30px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 280px;
  gap: 30px;
  border: var(--main-border)
}

.header h1 {
  font-size: 42px;
  letter-spacing: 2px;
  color: #0b5fa5;
  margin-bottom: 30px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
  font-weight: 600;
  color: #444;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  border: var(--main-border2)
}

.day {
  background: #ffffff;
  border-radius: 14px;
  padding: 12px;
  min-height: 90px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.day:hover {
  transform: translateY(-2px);
}

.day {
  cursor: pointer;
  transition: all 0.2s ease;
}

.day.expanded {
  background-color: #c7e3ed; /* blue highlight */
}

.day.christmas {
  background-color: #f2cfe0; /* pink highlight */
}

.day.empty {
  background: transparent;
  box-shadow: none;
  cursor: default;
}

.date {
  font-weight: 700;
  margin-bottom: 6px;
  color: #333;
}

.event {
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 4px;
  margin-bottom: 4px;
  background: #b4c9ee;
}

.event-details {
  font-size: 12px;
  margin-top: 6px;
  color: #444;
  line-height: 1.4;
}

.side-panel {
  background: #ffffff;
  border-radius: 18px;
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

.side-panel h3 {
  margin-top: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 22px;
}

.side-panel h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.side-panel p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
  width: 60px;
  height: auto;
  margin: auto;
}

.logo img {
  width: 60px;
}

footer {
  margin-top: 24px;
  text-align: center;
  font-size: 12px;
  color: #181818;
  border: 1px solid rgba(248, 248, 246, 0);
}

.event-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: none;
  align-items: flex-end;
  z-index: 1000;
}

.event-modal-content {
  background: #ffffff;
  width: 100%;
  max-height: 75%;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  overflow-y: auto;
  animation: slideUp 0.25s ease;
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}


@media (max-width: 600px) {
  .calendar {
    grid-template-columns: repeat(2, 1fr);
  }

  .day-name {
    display: none;
  }
  .weekdays{
    color: #33333300;
  }
}

@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
  }
}

